* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

/* ----------DROPDOWN MENU------------ */

.menu {
	background-color: rgb(255,100,100);
}

.menu li {
	list-style: none;
	display: inline-block;
	line-height: 40px;
	vertical-align: top;
	position: relative;
}

.menu a{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	display: block;
	margin: 0 5px;
	padding: 0 20px;
}

.menu a:hover{
	color: #fff;
}

.menu>.dropdown>a {
	display: block;
	background-image: url(../img/arrow-down.png);
	background-position: right 13px;
	background-repeat: no-repeat;
}

.submenu {
	display: none;
	list-style: none;
	position: absolute;
	top: 40px;
	width: 190px;
	background-color: rgb(225,75,75);
}

.submenu li {
	display: block;
	position: relative;
}

.submenu a {
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px solid rgb(200,50,50);
	width: 90%;
}

.submenu>li:last-child a {
	border: none;
}

.dropdown .dropdown>a {
	display: block;
	background-image: url(../img/arrow-right.png);
	background-position: 160px 7px;
	background-repeat: no-repeat;
}

.submenu--secondLevel {
	display: none;
	position: absolute;
	top: 0;
	left: 190px;
	background-color: rgb(225,75,75);
	width: 190px;
}


/* ------SELECT----- */
.select-section {
	height: 42px;
	width: 89px;
	margin: 5% auto;
	margin-bottom: 5px;
}

/* -------CHECKBOX_JQUERY-------- */
.checkbox-section{ 
    display: flex;
    justify-content: space-around;
}

.checkbox-section form {
    margin: 2% 10%;
    text-align: center;
}

.checkbox-section div {
    display: flex;
    padding-top: 10px;
}

.checkbox-section form label {
    display: flex;
}

.checkbox-section form>span {
    color: #f00;
    font-size: 18px;
}

span.jqueryCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	background: url('../img/checkbox.png');
	overflow: hidden;
}
span.jqueryChecked {
	background-position: 0 -17px;
}
span.jqueryCheck input {
	margin-left: -100px; 
}
span.jQueryCheckDisabled {
	background-image: url('../img/checkbox-disabled.png');
}


/* -----CHECKBOX_CSS------ */
.checkbox_css input[type=checkbox] {
	margin-right: 10px;
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.checkbox_css label:before {
	content: " ";
	width: 17px;
	height: 17px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	background: url('../img/checkbox.png');
}

.checkbox_css input[type=checkbox]:checked + label:before {
	background-position: 0 -17px;
}

.checkbox_css input[type=checkbox]:disabled + label:before {
	background-image: url('../img/checkbox-disabled.png');
}

/* --------CAROUSEL--------- */

.jcarousel-section {
	width: 100%;
	height: auto;
	margin: 2% auto;
}

.jcarousel-wrapper {
	height: 550px;
	background-color: #a1a1a1;
	display: flex;
	justify-content: center;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 600px;
    margin: auto 5%;
    border: 15px solid #fff;
    border-radius: 10px;
    box-sizing: content-box;
}

.jcarousel ul {
    width: 20000em;
    position: relative;

    list-style: none;
    margin: auto;
    padding: 0;
}

.jcarousel-pagination {
	text-align: center;
	margin-top: -40px;
}

.jcarousel-pagination a {
	display: inline-block;
	margin-right: 10px;
	width: 25px;
	height: 25px;
	background-color: green;
	border-radius: 13px;
	text-decoration: none;
	color: #fff;
	padding-top: 4px;
}

a.active {
	background-color: #f00;
}

.jcarousel li {
    float: left;
    height: 400px;
}

.jcarousel-prev, .jcarousel-next {
	padding-top: auto;
	font-size: 100px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f00;
}


