* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

.jcarousel-section {
	width: 100%;
	height: auto;
	margin: 2% auto;
}

.jcarousel-wrapper {
	height: 550px;
	background-color: #a1a1a1;
	display: flex;
	justify-content: center;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 600px;
    margin: auto 5%;
    border: 15px solid #fff;
    border-radius: 10px;
    box-sizing: content-box;
}

.jcarousel ul {
    width: 20000em;
    position: relative;

    list-style: none;
    margin: auto;
    padding: 0;
}

.jcarousel-pagination {
	text-align: center;
	margin-top: -40px;
}

.jcarousel-pagination a {
	display: inline-block;
	margin-right: 10px;
	width: 25px;
	height: 25px;
	background-color: green;
	border-radius: 13px;
	text-decoration: none;
	color: #fff;
	padding-top: 4px;
}

a.active {
	background-color: #f00;
}


.jcarousel li {
    float: left;
    height: 400px;
}

.jcarousel-prev, .jcarousel-next {
	padding-top: auto;
	font-size: 100px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f00;
}

.select-section {
	height: 42px;
	width: 89px;
	margin: 5% auto;
}



/* -------CHECKBOX-------- */
.checkbox-section{ 
    display: flex;
    justify-content: space-around;
}

.checkbox-section form {
    margin: 2% 20%;
    text-align: center;
}

.checkbox-section form label {
    display: block;
    margin: 15px 0;
}

.checkbox-section form span {
    color: #f00;
    font-size: 18px;
}

.checkbox-section label input {
    margin-right: 5px;
}
